/node_modules
/public/hot
/public/storage
/public/js/admin/
/public/js/aluno/
/public/js/professor/
/storage/*.key
/storage
/vendor
.env
.env.backup
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
